body {
    font-family: "Georgia", serif;
    margin: 0;
    background-color: #f4f1ea;
    color: #111;
}

/* HEADER */
header {
    text-align: center;
    border-bottom: 4px solid black;
    padding: 20px 0;
    margin-bottom: 30px;
    background-color: #fff;
}

h1 {
    font-size: 48px;
    margin: 0;
}

.date {
    font-size: 14px;
    color: gray;
}

/* SLIDER */
.slider {
    position: relative;
    max-width: 700px;
    margin: auto;
}

.slides {
    position: relative;
}

/* ARTICLE */
.slide {
    display: none;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
}

/* показываем только активную */
.slide.active {
    display: block;
}

/* IMAGE (скрыта по умолчанию) */
.article-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

/* появляется при наведении */
.slide:hover .article-image {
    opacity: 1;
}

/* TEXT */
h2 {
    border-bottom: 1px solid black;
}

.author {
    font-size: 13px;
    color: gray;
}

/* BUTTONS */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
}

.prev {
    left: -60px;
}

.next {
    right: -60px;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    border-top: 2px solid black;
    background: #fff;
}
